<%
  if @place.present?
    name = @place.name
  elsif @tag.present?
    name = @tag.name
  end
%>
<section class="content-header">
  <h1>
    <span><%= name %></span>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="#">
        <i class="fa fa-dashboard"></i>
        Home
      </a>
    </li>
    <li class="active">
      <span><%= name %></span>
    </li>
  </ol>
</section>
