<div class="schedule-box bg-aqua">
  <span class="schedule-box-datetime">
    <span class="year">2018</span>
    <span class="date">12/29</span>
    <span class="time">23:59</span>
  </span>
  <div class="schedule-box-content">
    <span class="schedule-box-text"></span>
    <span class="schedule-box-number"></span>
  </div>
  <!-- /.schedule-box-content -->
</div>
<!-- /.schedule-box -->
